@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTopNoFade {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottomNoFade {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//anim svg
@keyframes dash {
    to {
        stroke-dasharray: 223;
        stroke-dashoffset: 892;
    }
}

#infogr-wrap-060223-mobile {
    .box-1-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 1s;
            }
        }
    }
    .box-2-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 2s;
            }
        }
    }
    .box-3-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 3s;
            }
        }
    }
    .box-4-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 4s;
            }
        }
    }
}

#infogr-wrap-060223-desktop {
    .box-1-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 1s;
            }
        }
    }
    .box-2-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 3s;
            }
        }
    }
    .box-3-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 5s;
            }
        }
    }
    .box-4-anim {
        opacity: 0;
        animation: 1s ease-out 0s 1 fadeInText;
        animation-delay: 7s;
        animation-fill-mode: forwards;
        svg {
            .path {
                stroke-dasharray: 178;
                stroke-dashoffset: 592;
                animation: dash 1s linear;
                animation-fill-mode: forwards;
                animation-delay: 7s;
            }
        }
    }
}

#infogr-wrap-060223-mobile {
    .circle-wrap {
        .line1 {
            opacity: 0;
            animation: 0.5s ease-out 2s 1 fadeInText;
            animation-delay: 5s;
            animation-fill-mode: forwards;
        }
        .line2 {
            opacity: 0;
            animation: 0.5s ease-out 2s 1 fadeInText;
            animation-delay: 5.1s;
            animation-fill-mode: forwards;
        }
        .circle {
            opacity: 0;
            animation: 0.2s ease-out 0s 1 slideInFromTop;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
        }
        h3.title {
            opacity: 0;
            animation: 1s ease-out 0s 1 fadeInText;
            animation-delay: 0s;
            animation-fill-mode: forwards;
        }
    }
}

#infogr-wrap-060223-desktop {
    .col {
        .box {
            scale: 1;
            transition: all 0.2s ease-out;
            &:hover {
                scale: 1.03;
                transition: all 0.2s ease-out;
                svg {
                    scale: 1.06;
                    transition: all 0.4s ease-out;
                }
            }
            h2 {
                animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
            }
            h3 {
                animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
            }
            .col-75 {
                button {
                    animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
                }
            }
        }
        .line1 {
            opacity: 0;
            animation: 1s ease-out 0s 1 fadeInText;
            animation-delay: 8s;
            animation-fill-mode: forwards;
        }
        .line2 {
            opacity: 0;
            animation: 1s ease-out 0s 1 fadeInText;
            animation-delay: 8.1s;
            animation-fill-mode: forwards;
        }
        .circle {
            opacity: 0;
            animation: 0.2s ease-out 0s 1 slideInFromTop;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
        }
        h3.title {
            opacity: 0;
            animation: 1s ease-out 1 fadeInText;
            animation-delay: 0;
            animation-fill-mode: forwards;
        }
    }
}