@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromTopNoFade {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottomNoFade {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dash {
  to {
    stroke-dasharray: 223;
    stroke-dashoffset: 892;
  }
}
#infogr-wrap-060223-mobile .box-1-anim {
  opacity: 0;
}
#infogr-wrap-060223-mobile .box-1-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-1-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#infogr-wrap-060223-mobile .box-2-anim {
  opacity: 0;
}
#infogr-wrap-060223-mobile .box-2-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-2-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
#infogr-wrap-060223-mobile .box-3-anim {
  opacity: 0;
}
#infogr-wrap-060223-mobile .box-3-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-3-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
#infogr-wrap-060223-mobile .box-4-anim {
  opacity: 0;
}
#infogr-wrap-060223-mobile .box-4-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-4-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

#infogr-wrap-060223-desktop .box-1-anim {
  opacity: 0;
}
#infogr-wrap-060223-desktop .box-1-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-1-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#infogr-wrap-060223-desktop .box-2-anim {
  opacity: 0;
}
#infogr-wrap-060223-desktop .box-2-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-2-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
#infogr-wrap-060223-desktop .box-3-anim {
  opacity: 0;
}
#infogr-wrap-060223-desktop .box-3-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-3-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
#infogr-wrap-060223-desktop .box-4-anim {
  opacity: 0;
}
#infogr-wrap-060223-desktop .box-4-anim.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-4-anim.start svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  animation: dash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

#infogr-wrap-060223-mobile .circle-wrap .line1-100223 {
  opacity: 0;
}
#infogr-wrap-060223-mobile .circle-wrap .line1-100223.start {
  animation: 0.5s ease-out 2s 1 fadeInText;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap .line2-100223 {
  opacity: 0;
}
#infogr-wrap-060223-mobile .circle-wrap .line2-100223.start {
  animation: 0.5s ease-out 2s 1 fadeInText;
  animation-delay: 5.1s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap .circle {
  opacity: 0;
}
#infogr-wrap-060223-mobile .circle-wrap .circle.start {
  animation: 0.2s ease-out 0s 1 slideInFromTop;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap h3.title {
  opacity: 0;
}
#infogr-wrap-060223-mobile .circle-wrap h3.title.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#infogr-wrap-060223-desktop .col .box100223 {
  scale: 1;
  transition: all 0.2s ease-out;
}
#infogr-wrap-060223-desktop .col .box100223:hover {
  scale: 1.03;
  transition: all 0.2s ease-out;
}
#infogr-wrap-060223-desktop .col .box100223:hover svg {
  scale: 1.06;
  transition: all 0.4s ease-out;
}
#infogr-wrap-060223-desktop .col .box100223 h2 {
  animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .box100223 h3 {
  animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .box100223 .col-75 button {
  animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .line1-100223 {
  opacity: 0;
}
#infogr-wrap-060223-desktop .col .line1-100223.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col .line2-100223 {
  opacity: 0;
}
#infogr-wrap-060223-desktop .col .line2-100223.start {
  animation: 1s ease-out 0s 1 fadeInText;
  animation-delay: 8.1s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col .circle {
  opacity: 0;
}
#infogr-wrap-060223-desktop .col .circle.start {
  animation: 0.2s ease-out 0s 1 slideInFromTop;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col h3.title {
  opacity: 0;
}
#infogr-wrap-060223-desktop .col h3.title.start {
  animation: 1s ease-out 1 fadeInText;
  animation-delay: 0;
  animation-fill-mode: forwards;
}/*# sourceMappingURL=animations.css.map */