@-webkit-keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInFromTopNoFade {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromTopNoFade {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInFromBottomNoFade {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottomNoFade {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dasharray: 223;
    stroke-dashoffset: 892;
  }
}
@keyframes dash {
  to {
    stroke-dasharray: 223;
    stroke-dashoffset: 892;
  }
}
#infogr-wrap-060223-mobile .box-1-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-1-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#infogr-wrap-060223-mobile .box-2-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-2-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#infogr-wrap-060223-mobile .box-3-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-3-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#infogr-wrap-060223-mobile .box-4-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .box-4-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#infogr-wrap-060223-desktop .box-1-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-1-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#infogr-wrap-060223-desktop .box-2-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-2-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#infogr-wrap-060223-desktop .box-3-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-3-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#infogr-wrap-060223-desktop .box-4-anim {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .box-4-anim svg .path {
  stroke-dasharray: 178;
  stroke-dashoffset: 592;
  -webkit-animation: dash 1s linear;
          animation: dash 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

#infogr-wrap-060223-mobile .circle-wrap .line1 {
  opacity: 0;
  -webkit-animation: 0.5s ease-out 2s 1 fadeInText;
          animation: 0.5s ease-out 2s 1 fadeInText;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap .line2 {
  opacity: 0;
  -webkit-animation: 0.5s ease-out 2s 1 fadeInText;
          animation: 0.5s ease-out 2s 1 fadeInText;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap .circle {
  opacity: 0;
  -webkit-animation: 0.2s ease-out 0s 1 slideInFromTop;
          animation: 0.2s ease-out 0s 1 slideInFromTop;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-mobile .circle-wrap h3.title {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#infogr-wrap-060223-desktop .col .box {
  scale: 1;
  transition: all 0.2s ease-out;
}
#infogr-wrap-060223-desktop .col .box:hover {
  scale: 1.03;
  transition: all 0.2s ease-out;
}
#infogr-wrap-060223-desktop .col .box:hover svg {
  scale: 1.06;
  transition: all 0.4s ease-out;
}
#infogr-wrap-060223-desktop .col .box h2 {
  -webkit-animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
          animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .box h3 {
  -webkit-animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
          animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .box .col-75 button {
  -webkit-animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
          animation: 0.9s ease-out 0s 1 slideInFromBottomNoFade;
}
#infogr-wrap-060223-desktop .col .line1 {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col .line2 {
  opacity: 0;
  -webkit-animation: 1s ease-out 0s 1 fadeInText;
          animation: 1s ease-out 0s 1 fadeInText;
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col .circle {
  opacity: 0;
  -webkit-animation: 0.2s ease-out 0s 1 slideInFromTop;
          animation: 0.2s ease-out 0s 1 slideInFromTop;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#infogr-wrap-060223-desktop .col h3.title {
  opacity: 0;
  -webkit-animation: 1s ease-out 1 fadeInText;
          animation: 1s ease-out 1 fadeInText;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}/*# sourceMappingURL=mixins.css.map */