#infogr-wrap-060223-desktop {
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  display: none;
}
@media (min-width: 848px) {
  #infogr-wrap-060223-desktop {
    display: block;
    margin: 40px auto;
  }
}
#infogr-wrap-060223-desktop .hidden {
  display: none;
}
#infogr-wrap-060223-desktop .clear {
  clear: both;
}
#infogr-wrap-060223-desktop .col {
  display: inline-block;
  width: 33%;
  position: relative;
  vertical-align: top;
}
#infogr-wrap-060223-desktop .col:not(:first-child):not(:last-child) {
  min-height: 400px;
}
#infogr-wrap-060223-desktop .col:not(:first-child):not(:last-child) .line1 {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 2px;
  background-color: #2393d1;
}
#infogr-wrap-060223-desktop .col:not(:first-child):not(:last-child) .line2 {
  position: absolute;
  top: 302px;
  width: 100%;
  height: 2px;
  background-color: #2393d1;
}
#infogr-wrap-060223-desktop .col:not(:first-child):not(:last-child) svg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#infogr-wrap-060223-desktop .col:not(:first-child):not(:last-child) h3 {
  font-family: Helvetica, Sans-Serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #1a2352;
  font-size: 15px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#infogr-wrap-060223-desktop .col:last-child .box {
  padding-left: 40px;
}
#infogr-wrap-060223-desktop .col .box {
  position: relative;
  display: block;
  max-width: 100%;
  border: 2px solid #2393d1;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 40px;
}
@media (min-width: 1100px) {
  #infogr-wrap-060223-desktop .col .box {
    padding: 4px 20px 28px 34px;
  }
}
#infogr-wrap-060223-desktop .col .box h2 {
  z-index: 1;
  line-height: 40px;
  background-color: white;
  font-family: Helvetica, Sans-Serif;
  font-weight: bold;
  color: #2393d1;
  font-size: 21px;
  text-align: center;
  border: 2px solid #cf3b7b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: 40px;
}
#infogr-wrap-060223-desktop .col .box h2.style-2 {
  right: auto;
  left: -24px;
}
#infogr-wrap-060223-desktop .col .box h3 {
  font-family: Helvetica, Sans-Serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #1a2352;
  font-size: 15px;
}
@media (min-width: 1100px) {
  #infogr-wrap-060223-desktop .col .box h3 {
    max-width: 82%;
  }
}
#infogr-wrap-060223-desktop .col .box .col-25 {
  width: 25%;
  display: inline;
  vertical-align: top;
  margin-bottom: 10px;
}
#infogr-wrap-060223-desktop .col .box .col-25 svg {
  width: 80px;
  height: 80px;
  display: inline;
}
#infogr-wrap-060223-desktop .col .box .col-75 {
  width: 53%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
#infogr-wrap-060223-desktop .col .box .col-75 p {
  margin: 10px 0 0 21px;
  font-family: Helvetica, Sans-Serif;
  color: #123b62;
  font-size: 15px;
  display: inline-block;
}
#infogr-wrap-060223-desktop .col .box .col-75 button {
  cursor: pointer;
  margin: 10px 10px 10px 20px;
  border-radius: 50%;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 21px;
  font-size: 21px;
  background-color: #2393d1;
  border: 1px solid #1a2352;
  color: white;
}
#infogr-wrap-060223-desktop .col .box .col-75 button:hover {
  background-color: white;
  color: #2393d1;
}
#infogr-wrap-060223-desktop .col .box .col-75 .toggledText {
  margin: 0 0 20px 20px;
}
@media (min-width: 1200px) {
  #infogr-wrap-060223-desktop .col .box .col-75 .toggledText {
    position: relative;
    left: 40px;
    top: -38px;
  }
}
#infogr-wrap-060223-desktop .col .box .col-75 .toggledText p {
  display: block;
  margin: 4px 0 0 16px;
}
#infogr-wrap-060223-desktop .col .box .col-75 .toggledText p::before {
  content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 4.187 7.374' style='enable-background:new 0 0 4.187 7.374;' xml:space='preserve'%3E%3Cpolyline style='fill:none;stroke:%23E01271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='0.5,0.5 3.687,3.687 0.5,6.874 '/%3E%3C/svg%3E");
  color: #cf3b7b;
  position: relative;
  left: -16px;
  top: 7px;
  width: 6px;
  height: 6px;
  display: block;
}
#infogr-wrap-060223-desktop .col .circle {
  position: relative;
  top: 0;
  width: 90%;
  margin: 0px auto;
  max-width: 100%;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
}/*# sourceMappingURL=sass.css.map */